img:hover{
    transform: scale(1.5);
    transition: 0.1s;
}
        /* Custom Font for Master Title */
        .master-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 4rem;
            text-transform: uppercase;
            background: linear-gradient(135deg, #a1813b, #d6b23f);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
    